.container1{
    width: 768px;
    height: 500px;
    background-color: red;
}
.container2{
    width: 991px;
    height: 500px;
    background-color: green;
}
.container3{
    width: 1200px;
    height: 500px;
    background-color: blue
}
*:hover{
    background-color: yellow;
}