* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 120px;
    margin-left: 5%;
    font-family: Roboto;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 25%;
}

main {
    margin-left: 5%;
    margin-top: 50px;
    display: grid;
    height: 400px;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.item {
    background-size: cover;
    background-position: center;
}

.item1 {
    background-image: url("../assets/image1.jpg");
}

.item2 {
    background-image: url(../assets/image2.jpg);
}

.item3{
    grid-area: 1 / 4;
    background-image: url(../assets/image10.jpg);
}
.item4{
    grid-area: 2 / 2;
    background-image: url(../assets/image6.jpg);
}
.item5{
    grid-area: 2 / 3;
    background-image: url(../assets/image11.jpg);
}