h1{
    display: inline;
}
#p{
    color: skyblue;
}
#o{
    color: orange;
}
#s{
    color: black;
}
input{
    background-color: #ECF3F5;
    margin-left: 150px;
    width: 357px;
    height: 58px;
    border: none;
}
.search{
    border: none;
    border-radius: 15px;
    background: #B1CED4;
    margin-left: 10px;
    height: 58px;
    width: 175px;
}
img{
    padding: 0%;
    margin-left: 450px;
    width: 25px;
    height: 25px;

}
main{
    margin-top: 40px;
}
.first-row{
    margin-left: 100px;
}
.content1-image{
    height: 143px;
    width: 203px;
    background-image: url(./assets/wings.jpg);
    background-size: cover;
    background-position: center;
}
.first-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
}
.content2-image{
    height: 143px;
    width: 203px;
    background-image: url(./assets/fries.jpg);
    background-size: cover;
    background-position: center;
}
.second-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.third-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.content3-image{
    height: 143px;
    width: 203px;
    background-image: url(./assets/salad.jpg);
    background-size: cover;
    background-position: center;
}
.fourth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.second-row{
    margin-left: 100px;
    margin-top: 10px;
}
.fifth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
}
.content4-image{
    height: 143px;
    width: 203px;
    background-image: url(./assets/toast.jpg);
    background-size: cover;
    background-position: center;
}
.sixth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.content5-image{
    height: 143px;
    width: 203px;
    background-image: url(./assets/bread.jpg);
    background-size: cover;
    background-position: center;
}
.seventh-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.content6-image{
    height: 143px;
    width: 203px;
    background-image: url(./assets/cocktail.jpg);
    background-size: cover;
    background-position: center;
}
.eighth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.third-row{
    margin-left: 100px;
    margin-top: 10px;
}
.ninth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
}
.tenth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.eleventh-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.twelfth-dish{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    width: 203px;
    height: 214px;
    background: #D8E6E9;
    margin-left: 10px;
}
.footer{
    width: 950px;
    height: 110px;
    background: #EAF0F0;
    margin-left: 60px;
}
.footer button{
    border: none;
    background: #D9D9D9;
    opacity: 0.5;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 70px;
    padding: 20px 20px;
    border-radius: 10px;
}
.footer button:hover{
    background: green;
    color: white;
    opacity: 1;
}