*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-left: 5%;
    margin-top: 60px;
}
main{
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
}
.item{
    background-size: cover;
    background-position: center;
}
.item1{
    background-image: url(../assets/image1.jpg);
    grid-area: 1 / 1 / 2 / 3;
}
.item2{
    background-image: url(../assets/image3.jpg);
}
.item3{
    background-image: url(../assets/image4.jpg);
}
.item4{
    background-image: url(../assets/image5.jpg);
}
.item5{
    background-image: url(../assets/image6.jpg);
    grid-area: 2 / 2 / span 2 / span 1;
}
.item6{
    background-image: url(../assets/image7.jpg);
    grid-area: 2 / 3 / span 1 / span 2 ;
}
.item7{
    background-image: url(../assets/image2.jpg);
}
.item8{
    background-image: url(../assets/image9.jpg);
}
.item9{
    background-image: url(../assets/image8.jpg);
}